<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name ="Id"
    [value]="service.formData.id">
<!--<div class="form-group">
    <label>Id</label>
    <input type="text" class="form-control form-control-lg" placeholder="Id" name="Id" #Id="ngModel" [(ngModel)]="service.formData.Id" required>
</div>-->

<div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control form-control-lg" placeholder="Nombre" name="Nombre" #Nombre="ngModel" [(ngModel)]="service.formData.nombre" required [class.invalid]="Nombre.invalid && Nombre.touched">
</div>

<div class="form-group">
    <label>Nit</label>
    <input type="text" class="form-control form-control-lg" placeholder="Nit" name="Nit" #Nit="ngModel" [(ngModel)]="service.formData.nit" required [class.invalid]="Nit.invalid && Nit.touched">
</div>
<div class="form-group">
    <label>Producto</label>
    <input type="text" class="form-control form-control-lg" placeholder="Producto" name="Producto" #Producto="ngModel" [(ngModel)]="service.formData.producto" required [class.invalid]="Producto.invalid && Producto.touched">
</div>

<div class="form-group">
    <label>Precio</label>
    <input type="text" id = "price-input" class="form-control form-control-lg" placeholder="Precio" name="Precio" #Precio="ngModel" [(ngModel)]="service.formData.precio" required [class.invalid]="Precio.invalid && Precio.touched">
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label>Cantidad</label>
        <input type="text" id= "amount-input" class="form-control form-control-lg" placeholder="Cantidad" name="Cantidad" #Cantidad="ngModel" [(ngModel)]="service.formData.cantidad" required [class.invalid]="Cantidad.invalid && Cantidad.touched" (focusout)="onFocusOutEvent($event)">
    </div>
    
    
    <div class="form-group col-md-6">
        <label>Total</label>
        <input type="text" id="total-input" class="form-control form-control-lg" placeholder="Total" name="Total" #Total="ngModel" [(ngModel)]="service.formData.total" required readonly >
    </div>
</div>


<div class="form-group">
    <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">Guardar</button>
</div>
</form>
